<main class="main">
<div class="mainDiv">
	<h2 class="main" id="headerId">SpaceX Launch Programs</h2>
	<section class="section">
	<div  class="col-3_yearTile">
		<h4 id="filterId">Filters</h4>
		<div class="intDiv">Launch Year</div>
			<div class="launchButton">
				<span class="span1">
				<button class="launchButton1" id="2006" onclick="javascript:onClickYear();" name="subject" type="submit" >2006</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2007" onclick="javascript:onClickYear();" name="subject" type="submit" >2007</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2008" onclick="javascript:onClickYear();" name="subject" type="submit" >2008</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2009" onclick="javascript:onClickYear();" name="subject" type="submit" >2009</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2010"onclick="javascript:onClickYear();" name="subject" type="submit" >2010</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2011" onclick="javascript:onClickYear();" name="subject" type="submit" >2011</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2012" onclick="javascript:onClickYear();" name="subject" type="submit" >2012</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2013" onclick="javascript:onClickYear();" name="subject" type="submit" >2013</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2014" onclick="javascript:onClickYear();" name="subject" type="submit" >2014</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2015" onclick="javascript:onClickYear();" name="subject" type="submit" >2015</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2016" onclick="javascript:onClickYear();" name="subject" type="submit" >2016</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2017" onclick="javascript:onClickYear();" name="subject" type="submit" >2017</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2018" onclick="javascript:onClickYear();" name="subject" type="submit" >2018</button>
				</span>  
				<span class="span1">
				<button class="launchButton1" id="2019" onclick="javascript:onClickYear();" name="subject" type="submit" >2019</button>
				</span>
				<span class="span1">
				<button class="launchButton1" id="2020" onclick="javascript:onClickYear();" name="subject" type="submit" >2020</button>
				</span>
			</div>
				<div class="intDiv">Successful Launch</div>
				<div class="launchButton">
				<button class="launchButton1" onclick="javascript:onClickLaunch();" name="subject" type="submit" >True</button>
				<button class="launchButton1" onclick="javascript:onClickLaunch();" name="subject" type="submit" >False</button>
			</div>
			<div class="intDiv">Successful Landing</div>
			<div class="launchButton">
			<button class="launchButton1" onclick="javascript:onClickLand();" name="subject" type="submit" >True</button>
			<button class="launchButton1" onclick="javascript:onClickLand();" name="subject" type="submit" >False</button>
			</div>
		</div>
	
	
	<div id="divEl" class="spaceX">
	</div>
	

</section>
</div>
</main>
<footer>
	<div>
		<span>
		<strong>Developed by: </strong>
		</span>
		<span> Rupali Verma</span>
	</div>
</footer>